.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-grid-tile {
   background: lightblue;
}

@media screen and (max-width: 640px) {
    .example-card {
        max-width: calc(100%-35px);
    }

    .cards-demo{
        padding-top:5px;
        padding-left: 5px;
        padding-right: 5px;
        float:left;
    }
}

@media screen and (min-width: 641px) {
    .example-card {
        max-width: 350px;
    }

    .cards-demo{
        padding-top:15px;
        padding-left: 15px;
        float:left;
    }
}

