.sidenav-container {
    height: 100%;
  }

  .sidenav {
    width: 200px;
  }

  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
  }

  mat-sidenav{
      top: 54px !important;
  }

  mat-toolbar{
      position: fixed !important;
      left: 0px;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 53px;
    }


