<h3>
  toasty-demo works!
</h3>
<br />
<br />
<button class="btn toastteste" (click)="showToastyInfo()" style="background-color: #6BC6E1">Show Toasty Info</button>

<button class="btn toastteste" (click)="showToastyError()" style="background-color: #DC6460">Show Toasty Error</button>

<button class="btn toastteste" (click)="showToastyWarning()" style="background-color: #f1b560">Show Toasty Warning</button>

<button class="btn toastteste" (click)="showToastySuccess()" style="background-color: #6CBF6C">Show Toasty Success</button>
