/* You can add global styles to this file, and also import other style files */
// regular style toast
@import '~ngx-toastr/toastr.css';


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.toast-top-right {
    top: 54px;
    right: 12px;
}

.sidenav{
    width: 310px !important;
}


.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}

//overlay size override
// @media (max-width: 600px)
// {
//   .facet_sidebar
//    {
//     display: none;
//    }
// }
// .mat-drawer-backdrop.mat-drawer-shown {
//     top: 52px;
//     right: 17px;
// }
